<div class="row_carousel">
  <div class="row__inner">
  <%= @author.books.each do |book|%>

      <div class="tile">
        <div class="tile__media">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path book.cover_pic %>');">
          <div class="card-category"><%= book.title %></div>
          <div class="card-description">
            <h2><%= book.author.user.username %></h2>
            <p><%= book.genre %></p>
          </div>
          <div class="card-price">
            <p><%= book.price %>€</p>
          </div>
          <% book.author.profile_picture? ? avatar_url = book.author.profile_picture : avatar_url = "" %>
          <%= image_tag avatar_url, class: "avatar-small card-user" %>

          <%= link_to "", book_path(book), class: 'card-link' %>

        </div>
      </div>
    </div>
  <% end %>
   </div>
 </div>
