
<% content_for(:after_js) do %>
<div class="container">
  <div class="dashboard">
    <div class="grid grid-profile">
      <%= render 'author_avatar' %>
      <h2 id="grid-title"> <%= @author.user.username %> </h2>

      <p><strong>Book genres breakdown</strong></p>
      <div class="chart"><%= pie_chart @author.books.group(:genre).count, width: "200px", height: "200px", donut: true, legend: false %>
      </div>
    </div>
    <div class="grid grid-books">
      <%= render 'carousel_books' %>
    </div>
    <div class="grid grid-prices">
      <div id="author-average">
        <p><strong>Your average price</strong></p>
        <p><%= @author.books.average(:price).round(2) %></p>
      </div>
      <div id="all-average">
        <p><strong>Overall average price</strong></p>
        <p><%= Book.all.average(:price).round(2) %></p>
      </div>
    </div>
    <div class="grid grid-reviews">
    <%= render 'carousel_reviews' %>
    </div>

      <div class="grid grid-sales">
        <p><strong>Books sold</strong></p>
        <%= pie_chart @author.book_transactions.group(:title).count, width: "150px", height: "150px", legend: false %>
      </div>
    </div>
  </div>
  <% end %>



