
<% content_for(:after_js) do %>
<div class="container">
  <h1><%= @author.user.username %> - Dashboard</h1>
  <div class="dashboard">
    <div class="grid grid-profile">
      <%= render 'author_avatar' %>
      <h2> <%= @author.user.username %> </h2>
      <hr>
      <p>Books breakdown</p>
      <div class="chart"><%= pie_chart @author.books.group(:genre).count, width: "200px", height: "200px", donut: true, labels: false, legend: false %>
      </div>
    </div>
    <div class="grid grid-books"></div>
    <div class="grid grid-prices">
      <p>Your average book price is: <%= @author.books.average(:price) %> Euros</p>
      <p>The average book price overall is: <%= Book.all.average(:price) %> Euros</p>
    </div>
    <div class="grid grid-reviews"></div>

    <div class="grid grid-sales">
      <%= pie_chart @author.book_transactions.group(:title).count %>
    </div>
  </div>
  <%= link_to "upload a new book", new_authors_book_path , class: "btn btn-danger" %>
</div>
<% end %>
