<div class="navbar-book">
  <!-- Logo -->
  <a href="/" class="navbar-book-brand">
    <%= image_tag "book_logo.svg", id: "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-book-right hidden-xs hidden-sm">



    <!-- Profile picture with dropdown list -->
    <% if current_user %>
    <!-- <a href="#" class="navbar-book-item navbar-book-link">Become an author</a> -->
    <% if current_author %>
    <%= link_to "Add a book", new_authors_book_path, class: 'navbar-book-item navbar-book-link' %>
    <% else %>
    <%= link_to "Become an author", new_authors_path, class: 'navbar-book-item navbar-book-link' %>
    <% end %>

    <div class="navbar-book-item">
      <div class="dropdown">
        <% if current_author %>
        <% current_author.profile_picture? ? avatar_url = current_author.profile_picture : avatar_url = "http://res.cloudinary.com/danbala/image/upload/v1510221593/images_z1miqg.png" %>
        <%= image_tag avatar_url, class: "avatar avatar-small dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>


        <ul class="dropdown-menu dropdown-menu-right navbar-book-dropdown-menu">
          <li><%= link_to "Profile", new_authors_path %></li>
          <li><a href="/dashboard">Dashboard</a></li>

          <% else %>

          <% current_client.profile_picture? ? avatar_url = current_client.profile_picture : avatar_url = "http://res.cloudinary.com/danbala/image/upload/v1510221593/images_z1miqg.png" %>
          <%= image_tag avatar_url, class: "avatar avatar-small dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>

          <ul class="dropdown-menu dropdown-menu-right navbar-book-dropdown-menu">
            <li><a href='/clients'>Profile</a></li>
            <li><a href="#">Dashboard</a></li>

            <% end %>

            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>

      <% else  %>
      <%= link_to "Sign up", new_user_registration_path, class: 'navbar-book-item navbar-book-link' %>
      <%= link_to "Log in", user_session_path, class: 'navbar-book-item navbar-book-link' %>
      <% end %>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-book-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-book-dropdown-menu">

          <% if current_user && current_author %>
          <li> <%= link_to "Add a book", new_authors_book_path, class: 'navbar-book-item navbar-book-link' %></li>

          <li><a href="/clients">Profile</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

          <% elsif current_user %>

          <li> <%= link_to "Become an author", new_authors_path, class: 'navbar-book-item navbar-book-link' %></li>

          <li><a href='/clients'>Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

          <% else %>
          <li> <%= link_to "Sign up", new_user_registration_path, class: 'navbar-book-item navbar-book-link' %></li>
          <li><%= link_to "Log in", user_session_path, class: 'navbar-book-item navbar-book-link' %></li>

          <% end %>
        </ul>
      </div>
    </div>
  </div>
