<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h2>Order summary</h2>
        <p>Please take a moment to review your order:</p>
        <h3>Items</h3>
        <p><b>Title:</b> <%= @book.title %></p>
        <p><b>Amount:</b> €<%= @book.price %></p>
        <h3> Select payment method</h3>
        <%= link_to "VISA / Mastercard", pay_book_path(@book), class: "btn btn-default" %>
        <%= link_to "Bancontact", pay_book_path(@book), class: "btn btn-default" %>
        <%= link_to "PayPal", pay_book_path(@book), class: "btn btn-default" %>
        <%= link_to "Bitcoin", pay_book_path(@book), class: "btn btn-default" %>
        <h2><%= link_to "Back to book", book_path(@book), class: "btn btn-danger" %></h2>
      </div>
    </div>
  </div>
</div>

