<h2>Payment Summary</h2>

<h3>Amount: <%= @book.price %> €</h3>

<h3> Billing Information </h3>

<ul>
  <li>First Name: <%= @user.username %></li>
  <li>Last Name: Van Roeyen</li>
  <li>Card Number: 6703 4509 6788 4560 4</li>
  <li>Experience date: 07/2021</li>
  <li>Card Code: ***</li>
</ul>
<%= link_to "Add another Card", '#', class: "btn btn-primary"%>

<%= link_to "Confirm payment", bought_book_path(@book), class: "btn btn-danger"%>

<h2><%= link_to "Back to Order", buy_book_path(@book) %></h2>


