<div class="container margin-top-80">
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="card-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @book.cover_pic %>');">


        <% @author.profile_picture? ? avatar_url = @author.profile_picture : avatar_url = "" %>
        <%= image_tag avatar_url, class: "showpage-user avatar" %>



      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="card-big" style="background: white;">
        <div class="showpage-title"><%= @book.title %></div>
        <div class="showpage-author">
          <%= link_to @book.author_name, authors_path(@book.author)%>

        </div>

        <div class="showpage-synopsis">
          <p>Synopsis:</p>
          <p><%= @book.synopsys %></p>
        </div>

      <%= link_to book_reviews_path(@book), class: "review-link" do %>
        <div class="average-review text-center">
          <ul class="list-inline">
            <li>
              <% if !@average_rating.is_a?(String) %>

                <% 5.times do |counter|%>
                  <% if @average_rating <= counter %>

                    <i class="fa fa-star-o" aria-hidden="true"></i>

                  <% else %>
                   <i class="fa fa-star" aria-hidden="true"></i>


                  <% end %>
              <% end %>
            <% else %>
                <p>No reviews yet</p>
            <% end %>
            </li>
              <li>
            <p class="rating-count-p" style = "padding: 0px;" > <%= @rating_count%> </p>

          </ul>
        </div>
      <% end %>
        <div class="edit-book text-center showpage-button">
          <% if current_author == @book.author %>
          <%= link_to "Edit book", edit_authors_book_path, class: 'btn btn-danger' %>
          <% else %>
          <%= link_to "Buy now", buy_book_path(@book), class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


<%= link_to "Reviews", book_reviews_path(@book), class: 'btn btn-primary' %>
<%= social_share_button_tag("My Site") %>




