<div class="container margin-top-80">
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="card-big" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @book.cover_pic %>');">

        <img class="showpage-user" src="https://kitt.lewagon.com/placeholder/users/lynnvanderhallen">
        <%= link_to "author", author_path(@book.author), book: @book.id %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="card-big" style="background: white;">
        <div class="showpage-title"><%= @book.title %></div>
        <div class="showpage-author">
          <p><%= @book.author_name %></p>
        </div>

        <div class="showpage-synopsis">
          <p>Synopsis:</p>
          <p><%= @book.synopsys %></p>
        </div>

        <div class="edit-book text-center showpage-button">
          <% if current_author == @book.author %>
          <%= link_to "Edit book", edit_authors_book_path, class: 'btn btn-danger' %>
          <% else %>
          <%= link_to "Buy now", buy_book_path(@book), class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<h3>Average rating: <%= @average_rating %></h3>
<%= link_to "Reviews", book_reviews_path(@book), class: 'btn btn-primary' %>
<%= social_share_button_tag("My Site") %>




